@import "~materialize-sass/sass/materialize.scss";
@import "/animate.scss";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('http://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2') format('woff2');
}

.nav-wrapper {
  position: relative;
}

.break {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.nav-right {
  position: absolute;
  right: 10px;
  top: 10px;
}

.text-align-center {
  text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.card-main-title {
  font-size: 32px;
  color: #C8E4FF;
  text-align: center;
}

.loginform {
  border-bottom: #c8e4ff !important;
  box-shadow: 0 1px 0 0 #c8e4ff !important;

  &:focus {
    border-bottom: #c8e4ff !important;
    box-shadow: 0 1px 0 0 #c8e4ff !important;
  }
}

body {
  @extend .blue, .lighten-4;
}

.recipes {
  .recipe-card {
    .card-action {
      text-align: center;
    }
    @extend .animated;

    &:nth-child(odd) {
      float: left!important;
      @extend .bounceInLeft;
    }

    &:nth-child(even) {
      float: right!important;
      @extend .bounceInRight;
    }
  }
}

h5 {
  font-size: 17px;
}

.go-back {
  margin-right: 10px;
}

.clear {
  clear: both;
}

.recipeImage {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.recipes {
  .recipe-card-leave {
    @extend .animated;

    &:nth-child(odd) {
      float: left!important;
      @extend .fadeOutLeft;
    }

    &:nth-child(even) {
      float: right!important;
      @extend .fadeOutRight;
    }
  }
}

.main-container {
  margin-top: 20px;
}

.addRecipe {
  position: absolute;
  text-align: center;
  background-color: #ef5350;
  z-index: 100;
  margin-top: -5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .36), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.addRecipeButton {
  z-index: 200;
}

.row {
  position: relative;
}
